#include pyproject.toml

# Include the README
include *.md

# Include the license file
include LICENSE.txt

# Include the data files
recursive-include src_new/yaserver/quotes *.mp3
#global-include *.mp3
